extends layout 

block content 
    h1="Browse "+title
    a(href="item/create" class="create") Create a New Item
    if itemsOfCollection.length === 0
        p Nothing here
    else
        ul(style="margin:0px;padding:0px",class="layout")
            each item in itemsOfCollection
                li(style="list-style:none;margin-top:20px")
                    if item.img
                        div(class="item-img")
                            img(src="data:image/image/png;base64,"+item.img.toString('base64'))
                    div(class="not-center")
                        p(style="background-color:skyblue;color:black;padding:4px") #[strong Name:] #{item.name}
                        if item.description 
                            p(class="description") #[strong Description:] #{item.description}
                        if !item.category.join()==""
                            p #[strong Category:] #{item.category}
                        if item.price
                            p #[strong Price:] #{item.price}
                        if item.stock
                            p #[strong Stock:] #{item.stock}
                        if(user)
                            div(class="delete-update")
                                a(href=`/collection/item/delete/${item._id}`,class="delete") delete
                                a(href=`/collection/item/update/${item._id}`,class="delete") update
    